<header class="navbar navbar-default ">

    <div class="navbar-header">

      {% include "../../atoms/navbar_toggle/navbar_toggle.html" %}

      {% include "../../atoms/eecs_navbar_brand/eecs_navbar_brand.html" %}

      <nav class="collapse navbar-collapse " role="navigation">
        <h2 class="sr-only">Main menu</h2>
        <ul id="utility-nav" class="nav navbar-nav links clearfix" role="menubar">
          {% for navItem in navigation.utility %}
            {% include "../../atoms/navigation_item/navigation_item.html" %}
          {% endfor %}
        </ul>
        <ul id="main-nav" class="nav navbar-nav links clearfix" role="menubar">
          {% for navItem in navigation.primary %}
            {% include "../../atoms/navigation_item/navigation_item.html" %}
          {% endfor %}
        </ul>
      </nav>

      {% include "../../molecules/eecs_search/eecs_search.html" %}

    </div>

</header>
